*{
    margin: 0;
    padding: 0;
    background-color: #e0e0eb;
   font-family: 'Courier New', Courier, monospace;
}

.navBar{
    display: flex;
    min-height: 7rem;
    width: 100%;
    background-color:#d1d1e0;
    border-bottom:#000000 solid thin;
}

.home, .contact{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin: auto;
    background-color: transparent;
}

.pong{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin-top: auto;
    background-color: transparent;
    margin-bottom: auto;

}